{% extends "layout.html" %}
{% block content %}
<center><h3>Add new blog</h3></center>
<div class="row">

<div class="row">
<form method="POST" action="{{ url_for('addpost') }}" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input name="title" id="input_text" type="text" data-length="10">
                <label for="input_text">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea name="description" id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea2">Textarea</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light">
            <a class="btn-floating btn-large waves-effect waves-light red" type="submit" value="submit"><i class="material-icons">add</i></a>
        </button>
        

        
    </form>
</div>


{% endblock %}